.post{
    background-color: var(--gray-800);
    padding: 2.5rem;
    border-radius: 8px;
}

.post + .post{ /* se tiver um outro post acima */
    margin-top: 2rem;
}

.content{
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.content p{
    margin-top: 1rem;
}

.content a{
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
}

.content a:hover{
    color: var(--green-300);
}

.post > header{ /* só a header que ta no primeiro nível */
    display: flex;
    align-items: center;
    justify-content: space-between;  /* publicado há 1h fica na direita */
}

.post > header time{
    font-size: 0.75rem;
    color: var(--gray-400);
}

.author{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author img{
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 8px;
    border: 1px solid var(--gray-800);
    outline: 2px solid var(--green-500);
    box-sizing: initial; /* não comprimir o elemento por causa do border, outline, padding etc */
}

.userInfo strong{
    display: block;
    color: var(--gray-100);
    line-height: 1.6;
}

.userInfo span{
    display: block;
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.comentForm{
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);
}  

.comentForm > strong{
    line-height: 1.6;
    color: var(--gray-100);
}

.comentForm textarea{
    width: 100%;
    background-color: var(--gray-900);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4;
    margin-top: 1rem;
}

.comentForm button[type=submit]{
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background-color: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;

    transition: background-color 1.2s;
    
}

.comentForm footer{ /* para o botão não aparecer sempre */
    visibility: hidden;
    max-height: 0;
}

.comentForm:focus-within footer{ /* Se houver um foco dentro de qualquer elemento do comentForm, aplica isso no footer, que é o botão*/
    visibility: visible;
    max-height: none;
}

.comentForm button[type=submit]:hover{
    background-color: var(--green-300);
}

.commentList{
    margin-top: 2rem;
}