.wrapper{
    max-width: 70rem;
    margin: 2rem auto; /* 2 rem em cima e em baico, auto dos lados pra ficar centralizado */
    padding: 0 1rem; /* pra nao ficar colado nas laterais se diminuir a tela */

    display: grid;
    grid-template-columns: 256px 1fr; /* fr pra falar que vai ter tamanho flexível */
    gap: 2rem;
    align-items: flex-start; /* pra ficar alinhado com o topo, senao força a sidebar a ter a mesma altura que o main */
}